.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  padding-top: 0.5rem;
  max-height: 37px;
  margin-bottom: auto;
}
