<h3>Usuario
  <small>{{user.id == 0 ? 'Nuevo' : user.id}}</small>
</h3>

<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12 ">
    <form (ngSubmit)="guardar()" #userForm="ngForm">
      <div class="form-group" [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)}">
        <label>Nombre</label>
        <input [(ngModel)]="user.firstName"
               #firstName="ngModel"
               name="firstName"
               type="text"
               class="form-control"
               placeholder="Nombre del usuario"
               required>
        <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <div [hidden]="!firstName.errors.required">
            First Name is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input [(ngModel)]="user.lastName"
               name="last"
               type="text"
               class="form-control"
               placeholder="Apellido del Usuario"
               required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="user.email"
               name="email"
               type="email"
               class="form-control"
               placeholder="Email"
               required>
      </div>


      <div class="form-group">
        <div class="btn-group" *ngFor="let rol of user.roles; let i = index">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            {{rol.name}}
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">{{rol.name}}</button>
          </div>
        </div>
      </div>


      <div class="form-group" [hidden]="user.id != 0">
        <label>Password</label>
        <input [(ngModel)]="user.password"
               name="password"
               type="text"
               class="form-control"
               placeholder="Password"
               required>
      </div>


      <div class="form-group" [hidden]="user.id != 0">
        <label>Repetir Password</label>
        <input [(ngModel)]="repassword"
               name="repassword"
               type="text"
               class="form-control"
               placeholder="Repassword"
               required>
      </div>


      <div class="form-group">
        <label>Roles</label>
        <cmb-rol *ngFor="let rol of user.roles; let i = index" [rolSeleccionado]="rol" [roles]="rolesDisponibles"></cmb-rol>
      </div>

      <div class="row">
        <div class="col text-right">
          <div class="form-group">
            <div class="float-right">
              <button class="btn btn-outline-danger"
                      [routerLink]="['/users']">
                Regresar
              </button>
            </div>
          </div>
        </div>
        <div class="col text-left">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!userForm.form.valid" >Guardar</button>
        </div>
      </div>


    </form>
  </div>
</div>
