<h3>Usuario
  <small>{{user.id == null ? 'Nuevo' : user.id}}</small>
</h3>

<hr>


<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="animated fadeIn fast">

    <div class="form-group" [ngClass]="{
          'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
          'has-success': firstName.valid && (firstName.dirty || firstName.touched)}"
         [hidden]="editPass">
      <label>Nombre</label>
      <div class="row">
        <div class="col-md-6 ">
          <input [(ngModel)]="user.firstName"
                 #firstName="ngModel"
                 name="firstName"
                 type="text"
                 class="form-control"
                 placeholder="Nombre del usuario"
                 required>
        </div>

        <div class="col-md-6 ">
          <div class="alert alert-danger"
               *ngIf="firstName.errors?.required && (firstName.dirty || firstName.touched)">
              First Name is required!
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" [hidden]="editPass">
      <label>Apellido</label>
      <div class="row">
        <div class="col-md-6 ">
          <input [(ngModel)]="user.lastName"
                 #lastName="ngModel"
                 name="lastName"
                 type="text"
                 class="form-control"
                 placeholder="Apellido del Usuario"
                 required>
        </div>
        <div class="col-md-6 ">
          <div class="alert alert-danger "
               *ngIf="lastName.errors?.required && (lastName.dirty || lastName.touched)">
              Last Name is required!
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" [hidden]="editPass">
      <label>Email</label>
      <div class="row">
        <div class="col-md-6 ">
          <input #email="ngModel"
                 [(ngModel)]="user.email"
                 name="email"
                 type="email"
                 class="form-control"
                 placeholder="Email"
                 required
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </div>
        <div class="col-md-6 ">
          <div class="alert alert-danger "
               *ngIf="email.errors && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.required && email.touched">
              Email is required!
            </div>
            <div *ngIf="email.errors?.pattern && email.touched">
              The email id doesn't seem right
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" [hidden]="user.id != null && !editPass">
      <label>Password</label>
      <div class="row">
        <div class="col-md-6 ">
          <input [(ngModel)]="pass"
                 #password="ngModel"
                 name="password"
                 type="password"
                 class="form-control"
                 placeholder="Password"
                 [required]="user.id == null || editPass? true : false">
        </div>
        <div class="col-md-6 ">
          <div class="alert alert-danger "
               *ngIf="password.errors && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.required && password.touched">
              Password is required!
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group" [hidden]="user.id != null && !editPass">
      <label>Repetir Password</label>
      <div class="row">
        <div class="col-md-6 ">
          <input #confirmPassword="ngModel"
                 [(ngModel)]="repassword"
                 name="confirmPassword"
                 type="password"
                 class="form-control"
                 placeholder="Confirm Password"
                 [required]="user.id == null || editPass ? true : false">
        </div>
        <div class="col-md-6 ">
          <div class="alert alert-danger "
               *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <div *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
              Confirm password is required!
            </div>
          </div>
          <div class="alert alert-danger "
               *ngIf="(password.value != confirmPassword.value) && confirmPassword.touched">
            <div>
              Passwords should be equals
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group" *ngIf="!editPass">
      <label>Roles</label>
      <cmb-rol [rolSeleccionado]="user.roles.length > 0 ? user.roles[0] : rolesDisponibles[0]"
               [roles]="rolesDisponibles" (notify)="onNotify($event)">
      </cmb-rol>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col text-right">
          <div class="form-group">
            <div class="float-right">
              <button class="btn btn-outline-danger"
                      [routerLink]="['/users']">
                Regresar
              </button>
            </div>
          </div>
        </div>
        <div class="col text-left">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!userForm.form.valid">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>


