<h1 class="animated fadeIn">Mi Perfil </h1>

<hr>


<div class="row animated fadeIn">
  <div class="col-md-4">

    <img src="assets/img/hulk.png" class="img-fluid" alt="">
    <br>
    <br>
    <a (click)="backClicked()" class="btn btn-outline-danger btn-block" >Regresar</a>

  </div>

  <div class="col-8">
    <h3>{{staff.firstName}} {{staff.lastName}}</h3>
    <p>{{staff.email}}</p>
    <p><b>Id Tienda:</b> {{staff.storeId}}</p>
    <p>Activo: {{staff.active}}</p>
    <p>Username: {{staff.username}}</p>
    <p>Foto: {{staff.picture}}</p>
    <p *ngFor="let role of staff.roles; let i = index" >{{role.name}}</p>

    <hr>
    <p>Actualizado: {{staff.lastUpdate | date: 'yyyy-MM-dd HH:MM'}}</p>
  </div>


</div>
