<h1>Usuarios <small>Todos</small></h1>
<div class="row align-items-center ">
  <div class="col-md-6 text-left  " >
    <button class="button btn-outline-primary btn-lg" type="button" name="btnNuevoUsuario" [routerLink]="['/user','nuevo']">
      <div style='text-align:center;'><i class="fa fa-plus"></i> Agregar</div>
    </button>
  </div>
  <div class="col-md-6 text-right ">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
      </div>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card animated fadeIn fast " *ngFor="let user of users; let i = index" >
    <img class="card-img-top" src="{{user.roles[0].key == 'ROLE_ADMIN' ? 'assets/img/administrador.png' : 'assets/img/Usuario.png'}}" alt="{{user.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text"><small class="text-muted">{{user.roles[0].name}}</small></p>
    </div>


    <button (click)="verUser(user.id)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
    <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block" >Ver más...</a>-->
  </div>

</div>
