<h1>Usuarios <small>Todos</small></h1>
<div class="card-columns">

  <div class="card animated fadeIn fast " *ngFor="let user of users; let i = index" >
    <!--<img class="card-img-top" src="{{user.img}}" alt="{{user.nombre}}">-->
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}}</h5>
      <p class="card-text">{{user.lastName}}</p>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text"><small class="text-muted">{{user.roles[0].name}}</small></p>
    </div>


    <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
    <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block" >Ver más...</a>-->
  </div>

</div>
