<h1>Usuarios <small>Todos</small></h1>
<div class="row justify-content-center align-items-center ">
  <div class="col-md-6 text-left  " >
    <button class="button btn-outline-primary btn-lg" type="button" name="btnNuevoUsuario" [routerLink]="['/user','nuevo']">
      <div style='text-align:center;'><i class="fa fa-plus"></i> Agregar</div>
    </button>
  </div>
  <div class="col-md-6 text-right ">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
      </div>
    </div>
  </div>
</div>
<div class="card-columns text-center" style="margin-top: 10px;" >
  <div class="card animated fadeIn fast" style="max-width: 18rem; " *ngFor="let user of users; let i = index" >
    <img class="card-img-top img-fluid" src="{{user.roles[0].key == 'ROLE_ADMIN' ? 'assets/img/administrador.png' : 'assets/img/Usuario.png'}}" alt="{{user.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
      <p class="card-text">{{user.email}}</p>
    </div>
    <div class="card-header ">
      <p class="card-text" *ngFor="let rol of user.roles; let i = index"><small class="text-muted">{{rol.name}}</small></p>
    </div>

    <div class="row d-flex justify-content-center align-items-center" style="margin: 10px;">
      <div class="col">
        <button (click)="verUser(user.id)" type="button" class="btn btn-outline-primary btn-block col">Ver más...</button>
      </div>
      <div class="col">
        <button (click)="verUser(user.id)" type="button" class="btn btn-outline-danger btn-block col">Eliminar</button>
      </div>
    </div>
  </div>
</div>

