<h1>Actores
  <small>Registrados en la BD</small>
</h1>
<!--<div class="card-columns">-->


<div class="row rowWithMargin">
  <div class="col-md-6 text-left">
    <button class="button btn-outline-primary btn-lg" type="button" name="btnNuevoActor" [routerLink]="['/actor','nuevo']">
      <div style='text-align:center;'><i class="fa fa-plus"></i> Agregar</div>
    </button>
  </div>
  <!--<div class="col-md-6 text-right">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Buscar..">
  </div>-->
  <div class="col-md-6 text-right">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input class="form-control" type="text" name="search" [(ngModel)]="filter">
        </div>
      </div>
  </div>

</div>


<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse thead-dark">
        <tr class="row">
          <th class="col-sm-1 text-center">#</th>
          <th class="col-sm-3">Nombre</th>
          <th class="col-sm-3">Apellido</th>
          <th class="col-sm-3">Última Actualización</th>
          <th class="col-sm-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="row text-center " *ngFor="let k of actors |
                                                  keys |
                                                  filter: filter |
                                                  paginate: { itemsPerPage: 10, currentPage: p } ;
                                                  let i = index">
          <td class="col-sm-1 ">{{actors[k].actorId}}</td>
          <td class="col-sm-3">{{actors[k].firstName}}</td>
          <td class="col-sm-3">{{actors[k].lastName}}</td>
          <td class="col-sm-3  ">{{actors[k].lastUpdate | date : 'hh:mm:ss dd/MM/yyyy '}}</td>
          <td class="col-sm-2">
            <button type="button" class="btn btn-outline-primary"
                    data-toggle="modal" data-target="#viewInfoModal"
                    (click)="viewInfo(actors[k])">
              <div style='text-align:center;'><i class="fa fa-eye"></i></div>
            </button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['/actor', actors[k].actorId]">
              <div style='text-align:center;'><i class="fa fa-edit"></i></div>
            </button>
            <button type="button" class="btn btn-outline-danger"
                    data-toggle="modal" data-target="#confirmDeleteModal"
                    (click)="confirmDelActor(actors[k])">
              <div style='text-align:center;'><i class="fa fa-trash-o"></i></div>
            </button>
          </td>
        </tr>
        </tbody>

        <pagination-controls (pageChange)="p = $event" ></pagination-controls>

      </table>

      <div *ngIf="(actors | keys).length === 0 && !loading" class="alert alert-info" >Sin Registros que mostrar</div>
      <div *ngIf="loading" class="alert alert-warning" ><strong>Cargando..</strong></div>

    </div>
  </div>
</div>


<!-- Modal DELETE -->
<div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar el siguiente registro?</h5>
        <button id="closeConfirmDeleteModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Confirma eliminar?
        <div class="card animated fadeIn fast" *ngIf="actorSelected != undefined">
          <div class="card-body">
            <h5 class="card-title">{{actorSelected.lastName}}</h5>
            <p class="card-text">{{actorSelected.firstName}}</p>
            <p class="card-text">
              <small class="text-muted">Última actualización</small>
              {{actorSelected.lastUpdate | date: 'dd/MM/yyyy'}}
            </p>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" (click)="delActor(actorSelected)" data-dismiss="modal">Eliminar
        </button>
      </div>
    </div>
  </div>
</div>




<!-- Modal VIEW -->
<div id="viewInfoModal" class="modal fade" tabindex="0" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{actorSelected.firstName}} {{actorSelected.lastName}} </h5>
        <button id="closeViewInfoModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card animated fadeIn fast" *ngIf="actorSelected != undefined">
          <div class="card-body">
            <h5 class="card-title">ID: {{actorSelected.actorId}}</h5>
            <p class="card-text">
              <small class="text-muted">Nombre: </small>
              {{actorSelected.firstName}}
            </p>
            <p class="card-text">
              <small class="text-muted">Apellido: </small>
              {{actorSelected.lastName}}
            </p>
            <p class="card-text" *ngIf="actorSelected.filmInfo">
              <small class="text-muted">Peliculas </small>
              {{actorSelected.filmInfo}}
            </p>
            <div *ngIf="!actorSelected.filmInfo" class="alert alert-info" ><strong>Sin informacion Adicional.</strong></div>
            <p class="card-text" *ngIf="actorSelected.lastUpdate">
              <small class="text-muted">Última actualización</small>
              {{actorSelected.lastUpdate | date: 'dd/MM/yyyy'}}
            </p>

          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>




<!--<div class="card animated fadeIn fast " *ngFor="let actor of actors; let i = index" >
 &lt;!&ndash; <img class="card-img-top" src="{{actor.img}}" alt="{{actor.first_name}}">&ndash;&gt;
  <div class="card-body">
    <h5 class="card-title">{{actor.last_name}}</h5>
    <p class="card-text">{{actor.first_name}}</p>
    <p class="card-text"><small class="text-muted">Última actualización </small>{{actor.last_update | date: 'dd/MM/yyyy'}}</p>
  </div>


  <button (click)="verActor(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
</div>-->

<!--</div>-->
