<h1>Buscando: <small>{{termino}}</small></h1>

<div class="jumbotron jumbotron-fluid animated fadeIn" *ngIf="heroes.length == 0" >
  <div class="container">
    <p class="lead">No se han encontrado resultados para la búsqueda.</p>
  </div>
</div>


<div class="card-columns">

  <div class="card animated fadeIn fast " *ngFor="let heroe of heroes; let i = index" >
    <img class="card-img-top" src="{{heroe.img}}" alt="{{heroe.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
    </div>


    <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
    <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block" >Ver más...</a>-->
  </div>

</div>
